@font-face {
  font-family: 'Calibri';
  src: url(../webfonts/Calibri.eot);
  src: url(../webfonts/Calibri.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/Calibri.woff2) format('woff2'),
       url(../webfonts/Calibri.woff) format('woff'),
       url(../webfonts/Calibri.ttf) format('truetype'),
       url(../webfonts/Calibri.svg#Calibri) format('svg');
}
@font-face {
  font-family: 'CALIBRIB';
  src: url(../webfonts/CALIBRIB.eot);
  src: url(../webfonts/CALIBRIB.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/CALIBRIB.woff2) format('woff2'),
       url(../webfonts/CALIBRIB.woff) format('woff'),
       url(../webfonts/CALIBRIB.ttf) format('truetype'),
       url(../webfonts/CALIBRIB.svg#CALIBRIB) format('svg');
}
@font-face {
  font-family: 'CALIBRII';
  src: url(../webfonts/CALIBRII.eot);
  src: url(../webfonts/CALIBRII.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/CALIBRII.woff2) format('woff2'),
       url(../webfonts/CALIBRII.woff) format('woff'),
       url(../webfonts/CALIBRII.ttf) format('truetype'),
       url(../webfonts/CALIBRII.svg#CALIBRII) format('svg');
}
@font-face {
  font-family: 'CALIBRIZ';
  src: url(../webfonts/CALIBRIZ.eot);
  src: url(../webfonts/CALIBRIZ.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/CALIBRIZ.woff2) format('woff2'),
       url(../webfonts/CALIBRIZ.woff) format('woff'),
       url(../webfonts/CALIBRIZ.ttf) format('truetype'),
       url(../webfonts/CALIBRIZ.svg#CALIBRIZ) format('svg');
}
@font-face {
  font-family: 'LegacySerif-Bold';
  src: url(../webfonts/LegacySerif-Bold.eot);
  src: url(../webfonts/LegacySerif-Bold.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/LegacySerif-Bold.woff2) format('woff2'),
       url(../webfonts/LegacySerif-Bold.woff) format('woff'),
       url(../webfonts/LegacySerif-Bold.ttf) format('truetype'),
       url(../webfonts/LegacySerif-Bold.svg#LegacySerif-Bold) format('svg');
}
@font-face {
  font-family: 'LegacySerif-BoldItalic';
  src: url(../webfonts/LegacySerif-BoldItalic.eot);
  src: url(../webfonts/LegacySerif-BoldItalic.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/LegacySerif-BoldItalic.woff2) format('woff2'),
       url(../webfonts/LegacySerif-BoldItalic.woff) format('woff'),
       url(../webfonts/LegacySerif-BoldItalic.ttf) format('truetype'),
       url(../webfonts/LegacySerif-BoldItalic.svg#LegacySerif-BoldItalic) format('svg');
}
@font-face {
  font-family: 'LegacySerif-Book';
  src: url(../webfonts/LegacySerif-Book.eot);
  src: url(../webfonts/LegacySerif-Book.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/LegacySerif-Book.woff2) format('woff2'),
       url(../webfonts/LegacySerif-Book.woff) format('woff'),
       url(../webfonts/LegacySerif-Book.ttf) format('truetype'),
       url(../webfonts/LegacySerif-Book.svg#LegacySerif-Book) format('svg');
}
@font-face {
  font-family: 'LegacySerif-BookItalic';
  src: url(../webfonts/LegacySerif-BookItalic.eot);
  src: url(../webfonts/LegacySerif-BookItalic.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/LegacySerif-BookItalic.woff2) format('woff2'),
       url(../webfonts/LegacySerif-BookItalic.woff) format('woff'),
       url(../webfonts/LegacySerif-BookItalic.ttf) format('truetype'),
       url(../webfonts/LegacySerif-BookItalic.svg#LegacySerif-BookItalic) format('svg');
}
@font-face {
  font-family: 'LegacySerif-Medium';
  src: url(../webfonts/LegacySerif-Medium.eot);
  src: url(../webfonts/LegacySerif-Medium.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/LegacySerif-Medium.woff2) format('woff2'),
       url(../webfonts/LegacySerif-Medium.woff) format('woff'),
       url(../webfonts/LegacySerif-Medium.ttf) format('truetype'),
       url(../webfonts/LegacySerif-Medium.svg#LegacySerif-Medium) format('svg');
}
@font-face {
  font-family: 'LegacySerif-MediumItalic';
  src: url(../webfonts/LegacySerif-MediumItalic.eot);
  src: url(../webfonts/LegacySerif-MediumItalic.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/LegacySerif-MediumItalic.woff2) format('woff2'),
       url(../webfonts/LegacySerif-MediumItalic.woff) format('woff'),
       url(../webfonts/LegacySerif-MediumItalic.ttf) format('truetype'),
       url(../webfonts/LegacySerif-MediumItalic.svg#LegacySerif-MediumItalic) format('svg');
}
@font-face {
  font-family: 'LegacySerif-Ultra';
  src: url(../webfonts/LegacySerif-Ultra.eot);
  src: url(../webfonts/LegacySerif-Ultra.eot?#iefix) format('embedded-opentype'),
       url(../webfonts/LegacySerif-Ultra.woff2) format('woff2'),
       url(../webfonts/LegacySerif-Ultra.woff) format('woff'),
       url(../webfonts/LegacySerif-Ultra.ttf) format('truetype'),
       url(../webfonts/LegacySerif-Ultra.svg#LegacySerif-Ultra) format('svg');
}


body{
  text-align:center;
  font-family: "LegacySerif-Book", sans-serif;
/*  font-weight:bold;*/
  background-color: #e4e4e4;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0!important;
	text-align: left;
}

h1 {
	font-family: "LegacySerif-MediumItalic", sans-serif;
	color: #212121!important;
	/*font-weight: 400!important;*/
	font-size: 62px!important;
}

h2 {
  color: #212121!important;
  font-weight: 400!important;
  font-size: 30px!important;
}

h3 {
  color: #212121!important;
  font-weight: 400!important;
  font-size: 26px!important;
}

h4 {
  color: #212121!important;
  font-weight: 400!important;
  font-size: 21px!important;
}

h5 {
  color: #212121!important;
  font-weight: 700!important;
  font-size: 16px!important;
}

header {
	max-width: 1360px !important;
	margin: auto;
}

footer {
	max-width: 1360px !important;
	margin: auto;
}

/* Brand colors */
.txt-color-primary {
	color: #d82034;
}

.txt-color-secondary {
	color: #a11c36;
}

.txt-color-black {
	color: black;
}

.txt-color-gray87 {
	color: #333333;
}

.txt-color-gray54 {
	color: #757575;
}

.txt-color-gray38 {
	color: #808080;
}

.txt-color-gray12 {
	color: #b4b4b4;
}

.txt-color-gray6 {
	color: #e5e5e5;
}

/* BackGround */
.bg-color-gray87 {
	background-color: #333333;
}

.bg-color-gray54 {
	background-color: #757575;
}

.bg-color-gray38 {
	background-color: #808080;
}

.bg-color-gray12 {
	background-color: #b4b4b4;
}

.bg-color-gray6 {
	background-color: #e5e5e5;
}


.txt-color-darken38 {
	color: #9e9e9e;
}

.txt-color-darken12 {
	color: #e0e0e0;
}
.txt-color-darken6 {
	color: #f0f0f0;
}

.danger-color{color:#dc3545;}
.warning-color{color:#ffc107;}
.success-color{color:#28a745;}
.info-color{color:#17a2b8;}
.cta-default{color:#d82034;}
.cta-hove{color:#961624;}




form label {
  font-size: 16px!important;
  color: #757575!important;
  font-weight: normal;
}


.dropdown-menu .dropdown-item{
	padding-left: 25px!important;
	padding-right: 25px!important;
	margin-bottom: 0px!important;
	padding-top: 4px!important;
    padding-bottom: 4px!important;
}
.navbar .dropdown-menu a{
	font-weight: 400!important;
}


.dlt-head {
	font-family: "Roboto", sans-serif;
  color: #757575!important;
  font-weight: 400!important;
  font-size: 14px!important;
}

.dlt-head-txt {
	font-family: "Roboto", sans-serif;
	color: #212121!important;
	font-weight: 400!important;
	font-size: 16px!important;
}


p{
  color: #212121;
  font-weight: 400;
  font-size: 16px!important;
}


.mdcbg{
	background-image: url('img/sm-image.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center top;
	min-height: 300px;
	margin-bottom: -25px;
}
.mdcbg-1{
	background-image: url('img/sm-image.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center top;
	min-height: 400px;
	margin-bottom: -35px;
}

.mt-sm-6{
	margin-top: 6rem!important;
}
.mt-sm-12{
	margin-top: 12rem!important;
}

.slam_login .nav-link{
	font-family: "Calibri";
	font-size: 15px;
	color: #4A4A4A;
}

.slam_login .block-text{
	font-family: "Calibri";
	font-size: 17px!important;
	color: #333333!important;
	text-align: left;
	padding: 20px;
}




.nav-link, .navbar {
    padding-right: 0rem;
}

.mdlogo{
	width: 120px;
    vertical-align: top;
}
.mr-logo{
	margin-right: 120px;
}

.txt-color-primary{
	color: #d72034!important;
}
.txt-color-grey-light{
	color: #e4e4e4!important;
}
.txt-color-grey12 {
	color: #9E9E9E!important;
}

.bg-color-primary{
	background-color: #d72034;
}
.bg-color{
  background-color: #e4e4e4;
}
.btn-primary{
	background-color: #d72034!important;
}

.card-img-top{
	width: 40%!important;
	display: block;
	margin: auto;
}


.footer-content{
	height: 16px;
}




.nav-link{
	color: black;	
	text-align: left;
}

.customcard{
  background-color: #e4e4e4;
  padding: 18px;
  min-height: 100%;
}

.customcard div{
	margin-top: 10px;
}


.nav-item .active{
	color: black;
	border-bottom: black 4px solid;
	height:100%;
}

.nav-link-sb:hover{
	color: black;
	border-bottom: black 4px solid;
	height:100%;
}

.subnav .nav-item .active{
	color: black;
	border-bottom: #d72034 4px solid;
}

.subnav .nav-link, .navbar {
    padding: 1rem;
}



.nav-link-sb {
	color: #ea8691;
	font-weight:normal;
	border-right: white 1px solid;
}
.nav-link-sbfirst {
	border-left: white 1px solid;
}


.form-inline input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 80%;
}
.form-inline input::-moz-placeholder { /* Firefox 19+ */
  font-size: 80%;
}
.form-inline input:-ms-input-placeholder { /* IE 10+ */
  font-size: 80%;
}
.form-inline input:-moz-placeholder { /* Firefox 18- */
  font-size: 80%;
}

.form-inline {
    border-left: #e4e4e4 2px solid;
    padding-left: 10px;
    padding-right: 10px;
    border-right: #e4e4e4 2px solid;	
}
.md-form input{border-bottom:0px solid #000!important;}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
    cursor: pointer;
}

th, td {
	text-align: left;
}

.dataTables_info{
	text-align: left;
	font-size: 11px;
}

.pagination .active a{
	background-color: #d72034!important;
	font-size: 11px;
}

.page-item  a{
	font-size: 11px!important;
}

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	color:#d72034;
	background:white;
padding: 5px 10px 2px 10px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
	border-radius: 50%;
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:24px;
	margin-top:0px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

.carousel-inner p{font-size:0.7em; color:#212121; margin-top:10px; text-align:left;margin-bottom: 0px;}
.carousel-inner span{color:#bcbcbd;}
.carousel-inner  .carousel-title{text-align:left;}
.carousel-info {text-align:left; font-size:0.7em;}

.carousel p{font-size:0.7em; color:#212121; margin-top:10px; text-align:left;margin-bottom: 0px;}
.carousel span{color:#bcbcbd;}
.carousel  .carousel-title{text-align:left;}
.carousel  .carousel-control-next-icon {
	padding: 15px;
    background-color: #e0e0e0;
	color: black!important;
}
.carousel .sr-only{
	color: black;
}
.carousel  .carousel-control-next{width: 30px;}
.carousel  .carousel-control-prev{width: 30px;}
.carousel  .carousel-control-prev-icon {
	padding: 15px;
    background-color: #e0e0e0;
	color: black!important;
}
.modal .nav-link, .modal .navbar {
    padding: 0rem 0rem;
}

.dropdown-item i{margin-right: 10px;}
.dropdown-item-country {margin-left: 30px;}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0rem 0rem;
    margin-bottom: 1rem;
	background-color: #e4e4e4;
}
.breadcrumb-item a{
	font-size: 14px;
	color: gray;
	text-align: left;
	font-weight: 400;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">"; 
}

.navbar-inner {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.navbar .center .navbar-inner {
    text-align: center;
}
.navbar-inner .nav-item {
    float: none;
    display:inline-block;
    vertical-align: middle;
}
.navbar-inner  .nav-item .active{
	color: black!important;
}
.navbar-inner  .nav-item .active span{
	background-color: black!important;
}
.navbar-inner  .nav-item .visited {
	border-bottom: #c4b400 4px solid;
}

.sub-footer-links span{
	margin-right: 18px;
	color: #9f9f9f!important;
}

.overlay-inner p{
	font-size: 80%!important;
	margin-top: 10px;
/*	font-weight: bold;*/
}
.form-check-inline label {
	font-weight: bold;
}

.txt-info{
	font-size: 80%!important;
	margin-left: 30px;
}

.sub-nav-footer a {
	color: black;
	font-size: 80%;
}

.passwordeye{
position: relative;
top: -25px;
padding-right: 10px;	
}

/* Login */
.login label{
	font-family: "roboto-light";
	font-size: 16px!important;
	color: #757575;
}

.login input::-moz-placeholder { /* Code for Firefox */
	font-size: 18px;
    color: #757575;
}

.login input::-webkit-input-placeholder { /* Chrome, Edge, Safari and Opera */
	font-size: 18px;
    color: #757575;
}

.login input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 18px;
    color: #757575;
}

.login input::placeholder {
	font-size: 18px;
    color: #757575;
}

.login .forgetpassword{
	font-family: "roboto-light";
	font-size: 16px!important;
	color: #D82034;
}

button {
	font-family: "Calibri";
	font-size: 16px!important;
	text-align: center!important;
	color: white!important;
}
.footer-copyright{
	font-family: "Calibri";
	font-size: 14px!important;
	color: white!important;
}

.footer-copyright .float-right{
	margin-right: 40px;
	
}


.modal-body .nav-link {
	font-weight: normal;
}

.form-check-input input[type=checkbox]::checked{
	color:white;
	background-color: #d82034!important;
}

.overlay-inner .fa-2x{
	font-size: 100%;
}
.overlay-inner .fa-3x{
	font-size: 100%;
}
.fa-expand {
	cursor: pointer;
}

.modal-dialog {
	max-width: 960px;
	width: auto;
}
.modal-body .navbar-nav .nav-link {
	font-size: 80%;
}
.modal-body p {
	font-size: 80%!important;
}
